In [1]:
set1 = {"apple", "banana", "cherry"}

In [2]:
type(set1)

set

In [6]:
print(set1) #unindexed

{'banana', 'cherry', 'apple'}

In [7]:
set1[0] #unindexed

TypeError: 'set' object is not subscriptable

In [9]:
set1[0] = "kiwi" #unchangeable

TypeError: 'set' object does not support item assignment

# Remove item in python set

In [10]:
cities = {"kathmandu", "bhaktapur", "lalitpur","kavre", "nuwakot"}

In [11]:
cities.remove("kavre")

In [12]:
cities

{'bhaktapur', 'kathmandu', 'lalitpur', 'nuwakot'}

In [13]:
cities.remove("butwal")

KeyError: 'butwal'

In [14]:
cities.add("butwal")

In [15]:
cities

{'bhaktapur', 'butwal', 'kathmandu', 'lalitpur', 'nuwakot'}

In [16]:
l = [22,33,22,1,4,33]

In [18]:
set(l) #Set gives unique value

{1, 4, 22, 33}

In [19]:
#assignment typecast tuple to set

In [20]:
cities = {"kathmandu", "bhaktapur", "lalitpur","kavre", "nuwakot"}
for item in cities:
    print(item)

kathmandu
bhaktapur
lalitpur
kavre
nuwakot

In [21]:
tuple(cities)

('kathmandu', 'bhaktapur', 'lalitpur', 'kavre', 'nuwakot')

# Set Operation

In [22]:
A = {"apple", "banana", "cherry"}
B = {"google", "microsoft", "apple"}

In [24]:
A.union(B)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [25]:
A.intersection(B)

{'apple'}

In [28]:
A.difference(B)
A-B

{'banana', 'cherry'}

In [27]:
B.difference(A)

{'google', 'microsoft'}

# Frozen set is the immutable version of python set

In [29]:
A = {"apple", "banana", "cherry"}

In [30]:
A = frozenset(A)

In [31]:
A

frozenset({'apple', 'banana', 'cherry'})

In [32]:
A.add("mango")

AttributeError: 'frozenset' object has no attribute 'add'