In [1]:
tuple1 = ("apple ", "banana", "cherry")

In [2]:
type(tuple1)

tuple

In [3]:
tuple1 = ("apple ", "banana", "cherry")

In [5]:
tuple1[1]

'banana'

In [6]:
tuple1[1:]

('banana', 'cherry')

In [7]:
tuple1[0] = "mango" # tuple are immutable

TypeError: 'tuple' object does not support item assignment

In [8]:
tuple1 = ("apple ", "banana", "cherry")
for item in tuple1:
    print(item)

apple
banana
cherry

In [9]:
tuple1.append("kiwi")

AttributeError: 'tuple' object has no attribute 'append'

# Typecasting Explicit

In [21]:
fruits = ("apple ", "banana", "cherry")
type(fruits)

tuple

In [22]:
fruits = list(fruits)
fruits

['apple ', 'banana', 'cherry']

In [23]:
fruits[0] = "orange"

In [24]:
fruits

['orange', 'banana', 'cherry']

In [25]:
tuple(fruits)

('orange', 'banana', 'cherry')

In [26]:
fruits1 = ("apple ", "banana", "cherry")
fruits2 = ("kiwi")

In [27]:
fruits1 + fruits2

TypeError: can only concatenate tuple (not "str") to tuple

In [36]:
a = (1,2)
b = ("apple,banana")

In [37]:
a+b

TypeError: can only concatenate tuple (not "str") to tuple

In [39]:
fruits1 = ("apple ", "banana", "cherry")
for item in fruits1:
    print(item)

apple
banana
cherry

In [41]:
input_data = []
for i in range(5):
    user_input = int(input("Enter a number :"))
    input_data.append(user_input)

Enter a number :18
Enter a number :12
Enter a number :4
Enter a number :15
Enter a number :70

In [42]:
input_data

[18, 12, 4, 15, 70]